<!--<h1 align="center">Resume </h1>-->

<!--<p align="center"> {{greeting}} </p>-->


<!doctype html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALEKSEI DOROSHENKO</title>
    <style>
    p {
    text-align:center;

    }
div {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-right: 1px;
  margin-left: 8px;
  background-color: lightblue;
}



</style>
</head>
<body>
<h1 align="center">Resume </h1>
<hr> <!-- RAZDELITELNEYE LINIAE-->
<p align="center"> {{greeting}} </p>
<hr>





<main>
    <p>
    <section align="center">
    <b> Junior Backend Developer</b>
    </section>

    <section> <p>
         </p>
        <nav> <p>
            <a href="https://github.com/DoroshenkoAleksei">Linkedin</a>

            <a href="https://www.linkedin.com/in/aleksei-doroshenko/"> GitHub</a>
        </p>
        </nav>

    </section>





    <section> <p>
       <b> Personal information </b>
        <br>
        Aleksei Doroshenko
        <br>
        0533224535
        <br> doroshenkobox@gmail.com
        <br>

        Eilat
    </p>
    </section>

    <section> <div>
        <p> <b> Web Development skills  </b>

        <br>
        Python              Django <br>
        Flask Linux <br>
        Git GitHub <br>
        SQL JavaScrit <br>
        HTML/CSS PyQt5



    </p>
    </div>
        </section>
    <section> <p> <b>Projects  </b> </p>

        <section> <p>
        </p>
            <nav> <p>
                <a href="">This is place for MainProject</a>

                <a href=""> This is place for SecondProject</a>
            </p>
            </nav>

        </section>


    </section>


    <section> <p>

    Languages
    <br>
        English - Advance
        <br>
        Russian - Native
        <br>
        Hebrew - Medium


    </p></section>

    <section><p>
        Education
        <br>
        Udemy
        Coursework:Django,Flask <br>
        Dec.2022-March 2023


    </p>

    </section>


</main>
</body>
</html>
